@import 'normalize'
@import 'reset'

@font-face
  font-family: 'Manrope'
  src: url("../fonts/Manrope-Regular.woff2") format("woff2") 
  src: url("../fonts/Manrope-Regular.ttf") format("truetype")
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Manrope'
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2") 
  src: url("../fonts/Manrope-SemiBold.ttf") format("truetype")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Switzer'
  src: url("../fonts/Switzer-Regular.woff2") format("woff2") 
  src: url("../fonts/Switzer-Regular.ttf") format("truetype")
  font-weight: 400
  font-style: normal
  font-display: swap

html
    background-color: #000000
    font-family: 'Manrope'

$gradient: linear-gradient(90deg, #1E58FC 0%, #A427EB 25%, #D914E4 50%, #E10FA3 75%, #F10419 100%)
$primary-text-color: #FFFFFF
$max-width: 1300px

@mixin btn-wrapper
    width: 80px
    height: 48px
    background: $gradient
    border-radius: 26px
    display: flex
    align-items: center
    justify-content: center
    padding: 1px
    button
        width: 78px
        height: 46px
        font-family: 'Switzer'
        color: $primary-text-color
        cursor: pointer
        font-size: 16px
        font-weight: 400
        border-radius: 24px
        background-color: #0F0F0F
        text-align: center
        border: none
        transition: 0.5s ease
        &:hover
            background: $gradient

@mixin highlight-text
    width: 151px
    height: 38px
    border:  1px solid #3F3F3F
    display: flex
    align-items: center
    justify-content: center
    gap: 7px
    border-radius: 20px
    margin-bottom: 15px
    p 
        color: $primary-text-color
    img 
        width: 16px
        height: 16px
    
.container
    max-width: $max-width
    // border: 1px solid red

// header section

.header
    padding: 24px 0
    &__container
        height: 48px
        margin: 0 auto
        display: flex
        align-items: center
    &__logo
        margin-right: 220px
    &__nav
        display: flex
    &__nav-list
        display: flex
        align-items: center
        margin-right: 220px
    &__nav-item
        margin-right: 42px
        &:last-child
            margin-right: 0px
    &__link
        text-decoration: none
        font-size: 18px
        color: $primary-text-color
        display: inline-block
        line-height: 1.5
        background-image: $gradient
        -webkit-background-clip: text
        background-clip: text
        transition: all 0.3s ease  
        &:hover
            color: transparent
            background-image: $gradient
    &__btn-container
        width: 219px
        display: flex
        gap: 8px
    &__btn-wrapper
        @include btn-wrapper()
        margin-right: 10px
    &__btn-wrapper--registration
        @include btn-wrapper()
        width: 127px
        button
            width: 125px

// main section
.main-section
    position: relative
    margin-bottom: 120px
    &__container
        margin: 0 auto
        display: flex
        margin-bottom: 115px
    &__main-wrapper
        padding: 20px 0 0 0 
    &__info-wrapper
        width: 606px
        padding: 48px 0 0 0 
        margin-right: 150px
    &__highlight-text
        @include highlight-text()
    &__title
        color: $primary-text-color
        font-family: 'Manrope'
        font-weight: 600
        font-size: 72px
        line-height: 1.1
        margin-bottom: 36px
    &__description
        font-family: 'Manrope'
        font-size: 20px
        color: $primary-text-color
        line-height: 1.5
        margin-bottom: 43px
    &__controls
        display: flex
        align-items: center
        margin-bottom: 100px
        a
            color: $primary-text-color
            text-decoration: none
    &__btn-wrapper
        @include btn-wrapper()
        width: 208px
        height: 62px
        border-radius: 34px
        background: $gradient
        margin-right: 16px
        button
            font-size: 18px
            width: 208px
            height: 62px
            border-radius: 34px
            background: $gradient
    &__button--play
        width: 64px
        height: 64px
        background: transparent
        border: 1px solid #3F3F3F
        border-radius: 64px
        cursor: pointer
        margin-right: 11px
    &__stats
        display: flex
        gap: 18px
    &__stat-item
        width: 184px
        height: 96px
        background: #0D0511
        border: 1px solid #3F3F3F
        border-radius: 20px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        gap: 10px
        opacity: 0.8
    &__stat-number
        color: $primary-text-color
        font-family: 'Manrope'
        font-weight: 600
        font-size: 32px
    &__stat-label
        color: $primary-text-color
        font-family: 'Manrope'
        font-weight: 400
        font-size: 18px
    &__nft-wrapper
        position: relative
        padding: 30px 0 0 0 
    &__nft-block
        width: 542px
        height: 732px
        background: $gradient
        opacity: 0.9
        border-radius: 40px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        z-index: 20
    &__image-background
        position: relative
        width: 540px
        height: 521px
        opacity: 100%
        border-top-left-radius: 40px
        border-top-right-radius: 40px
        background-color: #232323
        display: flex
        align-items: flex-end
    &__price--white
        position: absolute
        top: 40px
        right: 40px
        width: 81px
        height: 38px
        border-radius: 20px
        background-color: white
        display: flex
        justify-content: center
        align-items: center
        p
            background: $gradient
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
    
    &__info-background
        width: 540px
        height: 209px
        border-bottom-left-radius: 40px
        border-bottom-right-radius: 40px
        background: rgba(0, 0, 0, 0.8)
        box-sizing: border-box
        padding: 43px 40px 40px 40px
        backdrop-filter: blur(23px)
    &__info-title
        display: flex
        justify-content: space-between
        margin-bottom: 16px
    &__nft-kebab
        width: 32px
        height: 32px
        border-radius: 32px
        background-color: #4B1C2D
        display: flex
        justify-content: center
        align-items: center
        gap: 2px
        color: $primary-text-color
    &__nft-title
        color: $primary-text-color
        font-size: 24px
        font-weight: 400
        letter-spacing: 0.4px
    &__info-description
        color: $primary-text-color
        margin-bottom: 15px
    &__info-pay
        display: flex
        align-items: center
        img
            margin-right: 6px
    &__dropdown-wrapper
        position: relative
        display: inline-block
        margin-right: 25px
        &::after
            content: ""
            position: absolute
            top: 50%
            right: 10px
            transform: translateY(-50%)
            width: 0
            height: 0
            border-left: 6px solid transparent
            border-right: 6px solid transparent
            border-top: 6px solid white
            pointer-events: none
    &__custom-dropdown
        appearance: none 
        background: transparent
        border: none
        color: white
        font-size: 20px
        font-weight: 600
        padding: 10px 30px 5px 10px 
        cursor: pointer
        outline: none
        option
            background-color: #2c1e3b
            color: white
    &__info-price
        color: $primary-text-color
        font-weight: 600
        font-size: 40px
        margin-right: 40px
    &__btn-wrapper--buy
        @include btn-wrapper()
        width: 124px
        height: 48px
        button
            width: 124px
            height: 48px
            background: $gradient
    // nft background
    &__backgroung-img
        position: absolute
        top: 220px
        left: -105px    
        z-index: -1 
    &__image-container
        margin: 0 auto   
    &__donut
        position: absolute
        top: 580px
        left: 1px
        z-index: -5
.dot
    width: 2px
    height: 2px
    background-color: white

// top trending section
.trending-section
    min-height: 810px
    position: relative
    &__container
        margin: 0 auto
        display: flex
        flex-direction: column
        align-items: center
        background: radial-gradient(ellipse, rgba(30, 88, 252, 0.5) 0%, rgba(164, 39, 235, 0.4) 20%, rgba(217, 20, 228, 0.2) 40%, rgba(225, 15, 163, 0.05) 60%, rgba(241, 4, 25, 0) 100%)
        background-size: 100% 100%
        background-position: center
        background-repeat: no-repeat
    &__highlight-text
        @include highlight-text()
    &__title
        text-align: center
        color:  $primary-text-color
        font-weight: 600
        font-size: 40px
        line-height: 1.2
        margin-bottom: 65px
    &__block
        display: flex
        width: 100%
        gap: 25px
        margin-bottom: 45px
    &__card
        width: 416px
        height: 586px
        border-radius: 40px
        border: 1px solid #3F3F3F
        &-top
            display: flex
            justify-content: space-between
            box-sizing: border-box
            width: 416px
            height: 420px
            background-image: url('../img/nft-item1.png')
            border-top-left-radius: 40px
            border-top-right-radius: 40px
            padding: 27px 27px 0 27px
            &-timebg
                border: 0.2px solid lightgrey
                display: flex
                justify-content: center
                align-items: center
                width: 107px
                height: 38px
                background: rgba(217, 217, 217, 0.2)
                backdrop-filter: blur(7px)
                -webkit-backdrop-filter: blur(7px)
                border-radius: 20px
                span
                    color: $primary-text-color
                    font-size: 16px
            &-likebg
                border: 0.2px solid lightgrey
                display: flex
                justify-content: center
                align-items: center
                width: 38px
                height: 38px
                background: rgba(217, 217, 217, 0.2)
                backdrop-filter: blur(7px)
                -webkit-backdrop-filter: blur(7px)
                border-radius: 38px
        &-footer
            box-sizing: border-box
            height: 166px
            padding: 32px 25px 0 27px
            background: rgba(25, 6, 32)
            backdrop-filter: blur(3px)
            -webkit-backdrop-filter: blur(3px)
            border-bottom-left-radius: 40px
            border-bottom-right-radius: 40px
            &-main
                display: flex
                align-items: center
                justify-content: space-between
                margin-bottom: 30px
                h1
                    color: $primary-text-color
                    font-size: 24px
                    font-weight: 600
                p
                    color: $primary-text-color
            &-price
                display: flex
                justify-content: space-between
            &-pricebox
                display: flex
                flex-direction: column
                gap: 15px
                p
                    color: $primary-text-color
                div
                    display: flex
                    gap: 10px
    &__btn-wrapper
        @include btn-wrapper()
        width: 40px
        height: 40px
        button
            width: 38px
            height: 38px
            border: 38px
            font-size: 30px
    &__main-button
        @include btn-wrapper()
        width: 136px
        height: 48px
        button
            background: $gradient
            width: 136px
            height: 48px


.second
    background-image: url('../img/nft-item2.png')
.third
    background-image: url('../img/nft-item3.png')

// Getting started
.getting-started
    min-height: 837px
    background: linear-gradient(to top right, rgba(30, 88, 252, 0) 0%, rgba(30, 88, 252, 0.1) 10%, rgba(164, 39, 235, 0.1) 35%, rgba(217, 20, 228, 0.1) 50%, rgba(225, 15, 163, 0.1) 72%, rgba(241, 4, 25, 0.1) 90%, rgba(241, 4, 25, 0) 100%)
    background-size: 100% 100%
    background-position: center
    background-repeat: no-repeat
    position: relative
    margin-bottom: 120px
    &__container
        margin: 0 auto
        padding: 120px 0 0 0
    &__header
        margin-bottom: 55px
    &__highlight-text
        @include highlight-text()
        width: 135px
    &__text-block
        display: flex
        align-items: flex-end
        h2
            color: $primary-text-color
            font-size: 40px
            line-height: 1.3
            letter-spacing: 0.6px
            margin-right: 210px
            z-index: 11
        p
            color: $primary-text-color
            font-size: 18px
            line-height: 1.7
            z-index: 12
    &__cards
        display: flex
        flex-wrap: wrap
        gap: 25px
    &__card
        width: 416px
        height: 294px
        box-sizing: border-box
        border: 1px solid #3F3F3F
        border-radius: 40px
        padding: 35px 10px 0 30px
        z-index: 10
        h3
            color: $primary-text-color
            font-size: 24px
            letter-spacing: 0.4px
            margin-bottom: 18px
        p
            color: $primary-text-color
            font-size: 16px
            line-height: 1.8
    &__icon
        width: 70px
        height: 70px
        border-radius: 70px
        background: rgba(217, 217, 217, 0.2)
        backdrop-filter: blur(7px)
        -webkit-backdrop-filter: blur(7px)
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 35px 
    &__bgimg
        position: absolute
        right: 1px
        top: -20px

// Explore collection section
.explore-collection
    &__container
        margin: 0 auto
        background: radial-gradient(ellipse, rgba(30, 88, 252, 0.5) 0%, rgba(164, 39, 235, 0.4) 20%, rgba(217, 20, 228, 0.2) 40%, rgba(225, 15, 163, 0.05) 60%, rgba(241, 4, 25, 0) 100%)
        background-size: 100% 100%
        background-position: center
        background-repeat: no-repeat
    &__highlight-text
        @include highlight-text()
        width: 161px
        height: 38px
    &__header
        display: flex
        align-items: flex-end
        justify-content: space-between
        margin-bottom: 60px
        h2
            font-size: 40px
            font-weight: 600
            color: $primary-text-color
            line-height: 1.3
    &__buttons
        display: flex
        gap: 12px
    &__btn-wrapper--da
        @include btn-wrapper()
        width: 110px
        button
            width: 108px
    &__btn-wrapper--clct
        @include btn-wrapper()
        width: 125px
        button
            width: 123px
    &__btn-wrapper--msc
        @include btn-wrapper()
        width: 84px
        button
            width: 82px    
    &__btn-wrapper--gmg
        @include btn-wrapper()
        width: 97px
        button
            width: 95px   
    &__btn-wrapper--virt
        @include btn-wrapper()
        width: 143px
        button
            width: 141px   
    &__cards
        display: flex
        gap: 25px
        margin-bottom: 45px
    &__big-card
        width: 668px
        height: 494px
        background-image: url('../img/money-hand.png')
        background-position: center
        background-size: contain 
        background-repeat: no-repeat 
        padding: 40px
        box-sizing: border-box
        display: flex
        flex-direction: column
        justify-content: space-between
        &-top
            display: flex
            gap: 10px
            &-text
                border: 0.2px solid lightgrey
                display: flex
                justify-content: center
                align-items: center
                padding: 10px 12px
                background: rgba(217, 217, 217, 0.2)
                backdrop-filter: blur(7px)
                -webkit-backdrop-filter: blur(7px)
                border-radius: 20px
                span
                    color: $primary-text-color
                    font-size: 16px
                    font-weight: 100
        &-bottom
            display: flex
            justify-content: space-between
            h2
                color: $primary-text-color
                font-size: 32px
                font-weight: 600
                line-height: 1.3
            &-button
                @include btn-wrapper()
                width: 80px
                height: 80px
                border-radius: 80px
                button
                    background: $gradient
    &__small-card
        width: 290px
        height: 494px
        background-image: url('../img/anime-boy.png')
        background-position: center
        background-size: contain 
        background-repeat: no-repeat 
        padding: 30px
        box-sizing: border-box
        display: flex
        flex-direction: column
        justify-content: space-between
        &-top
            height: 50px
            display: flex
            justify-content: flex-end
            &-button
                @include btn-wrapper()
                width: 50px
                height: 50px
                border-radius: 52px
                background: rgba(217, 217, 217, 0.2)
                backdrop-filter: blur(7px)
                -webkit-backdrop-filter: blur(7px)
                button
                    width: 50px
                    height: 50px
                    border-radius: 52px
                    background: rgba(217, 217, 217, 0.2)
                    backdrop-filter: blur(7px)
                    -webkit-backdrop-filter: blur(7px)
                    &:hover
                        background: rgba(217, 217, 217, 0.2)
                    img
                        width: 20px
        h2
            color: $primary-text-color
            font-size: 24px
            line-height: 1.4
            letter-spacing: 1px
    &__controls
        display: flex
        justify-content: center
        gap: 20px
        &-left
            @include btn-wrapper()
            width: 40px
            height: 40px
            button
                width: 38px
                height: 38px
        &-right
            @include btn-wrapper()
            width: 40px
            height: 40px
            button
                width: 38px
                height: 38px

.bull
    background-image: url('../img/bull.png')


// small laptop
@media (min-width: 1024px) and (max-width: 1310px)
    .container
        width: 100%
    .header
        padding: 24px 24px
        &__nav
            position: fixed
            display: flex
            flex-direction: column
            justify-content: space-around
            top: 0
            right: -100%
            height: 100vh
            background-color: black
            width: 100%
            transition: 1s all
        &__nav-list
            display: flex
            flex-direction: column
            margin-right: 0px
        &__nav-item
            margin:  0 auto
            margin-bottom: 40px
            &:last-child
                margin: 0 auto
        &__link
            font-size: 32px
        &__btn-container
            display: flex
            flex-direction: column
            align-items: center
            margin: 0 auto
            gap: 20px
            width: 100%
        &__btn-wrapper, &__btn-wrapper--registration
            @include btn-wrapper()
            width: 200px
            margin-right: 0px
            padding: 0px
            button
                width: 198px
    .hamburger
        width: 30px
        height: 14px
        position: absolute
        top: 40px
        right: 30px
        z-index: 3000
        cursor: pointer
        span
            height: 2px
            width: 100%
            display: block
            background: white
            margin-bottom: 4px
            transition: 0.5s all
            &:last-child
                margin-bottom: 0px
    .hamburger_active
        span
            margin-bottom: -2px 
            &:nth-child(1)
                transform: translateY(7px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(7px) rotate(45deg)
    .nav_active
        right: 0px
        z-index: 1000
    // main section
    .main-section
        position: relative
        &__container
            margin: 0 auto
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 115px
        &__main-wrapper
            padding: 0
            display: flex
            justify-content: center
            align-items: center
        &__info-wrapper
            margin: 0 auto
            width: 606px
            padding: 0px 
            margin-right: 0px
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
        &__title
            text-align: center
        &__description
            text-align: center
        &__image-container
            display: flex
            justify-content: center
        &__img-brands
            width: 100%

    // top trending section
    .trending-section
        &__block
            display: flex
            flex-direction: column
            align-items: center
    // getting started
    .getting-started
        &__container
            padding: 70px 0 0 0
        &__header
            margin-bottom: 55px
            display: flex
            flex-direction: column
            align-items: center
        &__text-block
            display: flex
            align-items: center
            flex-direction: column
            justify-content: center
            h2
                margin-right: 0px
                text-align: center
                margin-bottom: 30px
            p
                text-align: center
        &__cards
            display: flex
            flex-wrap: wrap
            justify-content: center
    // Explore collection section
    .explore-collection
        &__container
            display: flex
            flex-direction: column
            align-items: center
        &__header
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            margin-bottom: 60px    
            gap: 25px
            h2
                text-align: center
        &__cards
            display: flex
            flex-wrap: wrap
            justify-content: center








// tablet
@media (min-width: 768px) and (max-width: 1023px)
    .container
        width: 100%
    .header
        padding: 24px 24px
        &__nav
            position: fixed
            display: flex
            flex-direction: column
            justify-content: space-around
            top: 0
            right: -100%
            height: 100vh
            background-color: black
            width: 100%
            transition: 1s all
        &__nav-list
            display: flex
            flex-direction: column
            margin-right: 0px
        &__nav-item
            margin:  0 auto
            margin-bottom: 40px
            &:last-child
                margin: 0 auto
        &__link
            font-size: 32px
        &__btn-container
            display: flex
            flex-direction: column
            align-items: center
            margin: 0 auto
            gap: 20px
            width: 100%
        &__btn-wrapper, &__btn-wrapper--registration
            @include btn-wrapper()
            width: 200px
            margin-right: 0px
            padding: 0px
            button
                width: 198px
    .hamburger
        width: 30px
        height: 14px
        position: absolute
        top: 40px
        right: 30px
        z-index: 3000
        cursor: pointer
        span
            height: 2px
            width: 100%
            display: block
            background: white
            margin-bottom: 4px
            transition: 0.5s all
            &:last-child
                margin-bottom: 0px
    .hamburger_active
        span
            margin-bottom: -2px 
            &:nth-child(1)
                transform: translateY(7px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(7px) rotate(45deg)
    .nav_active
        right: 0px
        z-index: 1000
    // main section
    .main-section
        position: relative
        &__container
            margin: 0 auto
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 115px
        &__main-wrapper
            padding: 0
            display: flex
            justify-content: center
            align-items: center
        &__info-wrapper
            margin: 0 auto
            width: 606px
            padding: 0px 
            margin-right: 0px
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
        &__title
            text-align: center
        &__description
            text-align: center
        &__image-container
            display: flex
            justify-content: center
    // main section
    .main-section
        &__img-brands
            width: 100%
    // top trending section
    .trending-section
        &__block
            display: flex
            flex-direction: column
            align-items: center

    // getting started
    .getting-started
        &__container
            padding: 70px 0 0 0
        &__header
            margin-bottom: 55px
            display: flex
            flex-direction: column
            align-items: center
        &__text-block
            display: flex
            align-items: center
            flex-direction: column
            justify-content: center
            h2
                margin-right: 0px
                text-align: center
                margin-bottom: 30px
            p
                text-align: center
        &__cards
            display: flex
            flex-wrap: wrap
            justify-content: center
    // Explore collection section
    .explore-collection
        &__container
            display: flex
            flex-direction: column
            align-items: center
        &__header
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            margin-bottom: 60px    
            gap: 25px
            h2
                text-align: center
        &__cards
            display: flex
            flex-wrap: wrap
            justify-content: center


// mobile
@media (max-width: 767px)
    .container
        width: 100%
    .header
        padding: 12px 24px
        &__logo
            img
                width: 120px
        &__nav
            position: fixed
            display: flex
            flex-direction: column
            justify-content: space-around
            top: 0
            right: -100%
            height: 100vh
            background-color: black
            width: 100%
            transition: 0.5s all
        &__nav-list
            display: flex
            flex-direction: column
            margin-right: 0px
        &__nav-item
            margin:  0 auto
            margin-bottom: 40px
            &:last-child
                margin: 0 auto
        &__link
            font-size: 24px
        &__btn-container
            display: flex
            flex-direction: column
            align-items: center
            margin: 0 auto
            gap: 20px
            width: 100%
        &__btn-wrapper, &__btn-wrapper--registration
            @include btn-wrapper()
            width: 200px
            button
                width: 198px
                margin-right: 0px
    .hamburger
        width: 30px
        height: 14px
        position: absolute
        top: 28px
        right: 20px
        z-index: 3000
        cursor: pointer
        span
            height: 2px
            width: 100%
            display: block
            background: white
            margin-bottom: 4px
            transition: 0.5s all
            &:last-child
                margin-bottom: 0px
    .hamburger_active
        span
            margin-bottom: -2px 
            &:nth-child(1)
                transform: translateY(7px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(7px) rotate(45deg)
    .nav_active
        right: 0px
        z-index: 1000
    // main section
    .main-section
        position: relative
        margin-bottom: 50px
        &__container
            margin: 0 auto
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 0px
        &__main-wrapper
            padding: 0
        &__info-wrapper
            width: 100%
            padding: 0px 
            margin-right: 0px
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
        &__title
            text-align: center
            font-size: 40px
            margin-bottom: 20px
        &__description
            text-align: center
            font-size: 18px
            margin-bottom: 20px
        &__controls
            display: flex   
            align-items: center
            justify-content: space-around
            gap: 5px        
            margin-bottom: 20px
            a
                font-size: 12px
        &__btn-wrapper
            @include btn-wrapper()
            width: 150px
            height: 42px
            border-radius: 34px
            margin-right: 16px
            button
                font-size: 14px
                width: 150px
                height: 42px
                border-radius: 34px
        &__button--play
            width: 40px
            height: 40px
            border-radius: 40px
        &__stat-item
            width: 100px
            height: 50px
            border-radius: 10px
            margin-bottom: 50px
        &__stat-number
            font-size: 16px
        &__stat-label
            font-size: 12px  
        &__nft-wrapper
            width: 360px
            display: flex
            justify-content: center
            padding: 0px     
            margin-bottom: 30px 
        &__nft-block
            width: 300px
            height: 400px
        &__image-background
            width: 298px
            height: 398px
            img
                width: 100%
        &__price--white
            position: absolute
            top: 20px
            right: 20px
            width: 60px
            height: 20px
            border-radius: 20px
            p
                font-size: 14px
        &__info-background
            width: 298px
            height: 102px
            padding: 15px 30px 20px 25px
        &__info-title
            margin-bottom: 5px
        &__nft-title
            font-size: 16px
            letter-spacing: 0.1px
        &__nft-kebab
            width: 20px
            height: 20px
            border-radius: 20px
            gap: 1px
        &__info-description
            font-size: 16px
            margin-bottom: 8px
        &__info-pay
            width: 100%
            display: flex
            align-items: center
            img
                width: 30px
        &__dropdown-wrapper
            margin-right: 0px
            height: 30px
            &::after
                content: ""
                position: absolute
                top: 50%
                right: 15px
                transform: translateY(-50%)
                width: 0
                height: 0
                border-left: 4px solid transparent
                border-right: 4px solid transparent
                border-top: 4px solid white
                pointer-events: none
        &__custom-dropdown
            font-size: 10px
        &__info-price
            font-size: 12px
            margin-right: 25px
        &__btn-wrapper--buy
            @include btn-wrapper()
            width: 80px
            height: 25px
            button
                width: 80px
                height: 25px
                font-size: 10px
                font-weight: 400
                border-radius: 15px
                font-size: 10px
        &__backgroung-img
            width: 70px
            top: 120px
            left: -4px
        &__donut
            width: 100px
            top: 300px
        &__image-container
            margin: 0 auto
            display: flex
            justify-content: center
        &__img-brands
            width: 100%
    .dot
        width: 1px
        height: 1px
    // top trending section
    .trending-section
        margin-bottom: 50px
        &__block
            display: flex
            flex-direction: column
            align-items: center
            gap: 50px
        &__card
            width: 316px
            height: 486px
            &-top
                width: 316px
                height: 320px
                background-position: center
    // getting started
    .getting-started
        margin-bottom: 50px
        &__container
            padding: 70px 0 0 0
        &__header
            margin-bottom: 55px
            display: flex
            flex-direction: column
            align-items: center
        &__highlight-text
            z-index: 30
        &__text-block
            display: flex
            align-items: center
            flex-direction: column
            justify-content: center
            h2
                margin-right: 0px
                text-align: center
                margin-bottom: 30px
            p
                text-align: center
        &__cards
            display: flex
            flex-wrap: wrap
            justify-content: center
        &__card
            width: 90%
            height: 294px
            box-sizing: border-box
            border: 1px solid #3F3F3F
            border-radius: 40px
            padding: 35px 10px 0 30px
            z-index: 10
            h3
                color: $primary-text-color
                font-size: 18px
                letter-spacing: 0.4px
                margin-bottom: 12px
            p
                color: $primary-text-color
                font-size: 14px
                line-height: 1.4
    // Explore collection section
    .explore-collection
        &__container
            display: flex
            flex-direction: column
            align-items: center
        &__header
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            margin-bottom: 60px    
            gap: 25px
            h2
                text-align: center
        &__cards
            display: flex
            flex-wrap: wrap
            justify-content: center
            margin-bottom: 20px
        &__buttons
            flex-wrap: wrap
            justify-content: center
        &__big-card
            width: 90%
            height: 250px
            flex-direction: column
            justify-content: space-between
            gap: 10px
            &-bottom
                h2
                    font-size: 22px
                &-button
                    @include btn-wrapper()
                    width: 40px
                    height: 40px